# Storage Alert

We have two files csv from two different locations. 
We want to compare one given column from a file with another one and gather the results according to a last one.
We have a "product id" column, a "number of products" column and a "location" column.

Both file have different name for the columns and potentially different label for the locations.
They have the same id for the product and the number of product is expressed as an int

In [1]:
%config IPCompleter.greedy=True
import pandas
import numpy as np
import string
import shutil
from pathlib import Path
import json

In [2]:
ELEM_LOCATION = np.array(list(string.ascii_uppercase + "".join(map(str, range(10)))))

def generate_location(sign_number_list):
    return "_".join([generate_str(sign_number) for sign_number in sign_number_list])

def generate_str(number_of_letter):
    return "".join(ELEM_LOCATION[np.random.choice(len(ELEM_LOCATION), number_of_letter, replace=True)])

def generate_location_code_params():
    return np.random.choice(np.arange(2, 7, 1), np.random.choice(np.arange(2, 4)))

def generate_location_labels(number_of_locations):
    return {
        generate_location(generate_location_code_params()):generate_location(generate_location_code_params())
        for _ in range(number_of_locations)
    }

LOCATIONS = generate_location_labels(10)

In [3]:
NPRODUCTS = 3000
PRODUCTS = set(
    generate_str(10) for _ in range(NPRODUCTS)
)
print(len(PRODUCTS))

3000

In [4]:
STORAGE = [
    {
        "ID": product, 
        "LOCATION": np.random.choice(list(LOCATIONS.keys())),
        "NUMBER": np.random.choice(5000)
    }
    for product in PRODUCTS 
]
HANGAR_0_DF = pandas.DataFrame(STORAGE)

In [5]:
HANGAR_1_DF = HANGAR_0_DF.copy()
HANGAR_1_DF.loc[:,"LOCATION"] = HANGAR_0_DF.LOCATION.map(lambda x: LOCATIONS[x])
HANGAR_1_DF.loc[:,"NUMBER"] = HANGAR_0_DF.NUMBER.map(
    lambda x: x + np.random.choice(np.arange(-100, 100)) if np.random.rand() > 0.99 else x
)

In [6]:
if Path("data").exists():
    shutil.rmtree(Path("data"))
Path("data").mkdir()
HANGAR_0_DF.to_csv("data/HANGAR_0.csv", sep=';')
HANGAR_1_DF.to_csv("data/HANGAR_1.csv", sep=';')

 
with open("data/locations_keys.json", "w") as outfile:
    json.dump(LOCATIONS, outfile)

In [7]:
HANGAR_0_DF

              ID             LOCATION  NUMBER
0     L2OKFPZ19T   UC1X4_AKRI3_INQ3Y2    1399
1     EAK197S6FN  9ZWB4_ZKZOTH_L205AN    4941
2     7ELHJ4SM7F             0XXE_RHN    3886
3     DT41GVI3YZ             ZCJH_YJ5    1173
4     LEO7NUA77F         MYBRGJ_X3UYP    2476
...          ...                  ...     ...
2995  25BZ6Z2HNY    QYE547_8J4_5QXMDY    3503
2996  3X5NU2AJ5V       XVYX_MB_EW3FWK    3791
2997  XRKDQ4244P       GJHXPQ_JT_Q128    1852
2998  YRYP4AMVA2      7RM2_2XX377_6JI     283
2999  8PITEWZ4P8      7RM2_2XX377_6JI     986

[3000 rows x 3 columns]

In [9]:
HANGAR_1_DF

              ID          LOCATION  NUMBER
0     L2OKFPZ19T         1N2UG_J0Y    1399
1     EAK197S6FN        QMY70_5653    4941
2     7ELHJ4SM7F  EPMSK_BMM50_0Y92    3886
3     DT41GVI3YZ       V1Y1V_TSAXS    1173
4     LEO7NUA77F    OL_X7E98K_AAEO    2476
...          ...               ...     ...
2995  25BZ6Z2HNY     X8G_FGN_Y9EEV    3503
2996  3X5NU2AJ5V        1VSOB_BPYA    3791
2997  XRKDQ4244P          RTV_3YD8    1852
2998  YRYP4AMVA2     WV_L93PR_TWES     283
2999  8PITEWZ4P8     WV_L93PR_TWES     971

[3000 rows x 3 columns]