In [1]:
import pandas
import json

from IPython.display import display, Markdown

In [2]:
LOCATIONS = json.load(open("data/locations_keys.json", "r"))
HANGAR_0_DF = pandas.read_csv("data/HANGAR_0.csv", sep=";", index_col=0)
HANGAR_1_DF = pandas.read_csv("data/HANGAR_1.csv", sep=";", index_col=0)

In [3]:
HANGAR_0_DF_MODIFIED = HANGAR_0_DF.copy()
HANGAR_0_DF_MODIFIED.loc[:, "LOCATION"] = HANGAR_0_DF_MODIFIED.LOCATION.map(lambda x: LOCATIONS[x])

In [5]:
JOIN_DF = HANGAR_0_DF_MODIFIED.merge(
    HANGAR_1_DF, 
    left_on=['ID', "LOCATION"], 
    right_on=['ID', "LOCATION"],
    suffixes=["_0", "_1"])
                                     
JOIN_DF.loc[:, "DELTA"] = JOIN_DF.NUMBER_1 - JOIN_DF.NUMBER_0
DELTA_DF = JOIN_DF[JOIN_DF.DELTA != 0].loc[:, ["ID", "LOCATION", "DELTA"]]
DELTA_DF

              ID          LOCATION  DELTA
40    X91TN1OLYE          RTV_3YD8      1
131   VLIY22E73E        QMY70_5653     75
258   X5LRQCD0DA        1VSOB_BPYA    -12
411   MKVAXL3VMA        1VSOB_BPYA     45
596   6W1YJYOQPA    OL_X7E98K_AAEO     87
658   COBCZ3T88F  EPMSK_BMM50_0Y92     68
674   NPS40Y4C51     X8G_FGN_Y9EEV    -43
676   GYXNOD5PP1          RTV_3YD8     40
690   6N5Y94PJVE        1VSOB_BPYA     22
803   RP5XPAAAX2          3EVW6_VZ     31
925   AX32ESHIPL  EPMSK_BMM50_0Y92     17
963   T429HRPG3Q          RTV_3YD8    -29
1024  67XQJTFDMD     WV_L93PR_TWES    -80
1042  TIA639L44F    OL_X7E98K_AAEO     67
1049  FBCKYAQ4XW          3EVW6_VZ     43
1335  S5ANFA3974  EPMSK_BMM50_0Y92     12
1703  M99BFM7HYT  EPMSK_BMM50_0Y92     55
1798  02EUDJ2TS5    OL_X7E98K_AAEO    -27
1838  4F82DCQOZV     X8G_FGN_Y9EEV     68
1930  VMMRPL0LFI    OL_X7E98K_AAEO    -17
2007  1Q5JQBBKRQ         1N2UG_J0Y    -92
2063  QO01SYQHPA    OL_X7E98K_AAEO     49
2155  C7KTJTQAJV    OL_X7E98K_AAEO     99
2226  SE1FW50QPV         1N2UG_J0Y    -28
2400  Z01VRGPGUC    OL_X7E98K_AAEO     93
2440  FGF0CKSQZ4  EPMSK_BMM50_0Y92    -46
2443  T9SXM5XCPK  EPMSK_BMM50_0Y92     68
2638  HHZC3MP0YF     WV_L93PR_TWES    -37
2679  7D94DJD41C          RTV_3YD8    -35
2725  1MC9BGD4QB        QMY70_5653     62
2854  JVOHZCIT9I        QMY70_5653      9
2858  EOGQMF31C6       V1Y1V_TSAXS     92
2883  WYN0MIK96O    OL_X7E98K_AAEO     79
2999  8PITEWZ4P8     WV_L93PR_TWES    -15

In [7]:
for location, group_df in DELTA_DF.groupby("LOCATION"):
    display(Markdown(f"## {location}"))
    display(group_df[["ID", "DELTA"]])

## 1N2UG_J0Y

              ID  DELTA
2007  1Q5JQBBKRQ    -92
2226  SE1FW50QPV    -28

## 1VSOB_BPYA

             ID  DELTA
258  X5LRQCD0DA    -12
411  MKVAXL3VMA     45
690  6N5Y94PJVE     22

## 3EVW6_VZ

              ID  DELTA
803   RP5XPAAAX2     31
1049  FBCKYAQ4XW     43

## EPMSK_BMM50_0Y92

              ID  DELTA
658   COBCZ3T88F     68
925   AX32ESHIPL     17
1335  S5ANFA3974     12
1703  M99BFM7HYT     55
2440  FGF0CKSQZ4    -46
2443  T9SXM5XCPK     68

## OL_X7E98K_AAEO

              ID  DELTA
596   6W1YJYOQPA     87
1042  TIA639L44F     67
1798  02EUDJ2TS5    -27
1930  VMMRPL0LFI    -17
2063  QO01SYQHPA     49
2155  C7KTJTQAJV     99
2400  Z01VRGPGUC     93
2883  WYN0MIK96O     79

## QMY70_5653

              ID  DELTA
131   VLIY22E73E     75
2725  1MC9BGD4QB     62
2854  JVOHZCIT9I      9

## RTV_3YD8

              ID  DELTA
40    X91TN1OLYE      1
676   GYXNOD5PP1     40
963   T429HRPG3Q    -29
2679  7D94DJD41C    -35

## V1Y1V_TSAXS

              ID  DELTA
2858  EOGQMF31C6     92

## WV_L93PR_TWES

              ID  DELTA
1024  67XQJTFDMD    -80
2638  HHZC3MP0YF    -37
2999  8PITEWZ4P8    -15

## X8G_FGN_Y9EEV

              ID  DELTA
674   NPS40Y4C51    -43
1838  4F82DCQOZV     68