In [68]:
import pandas
import json

from IPython.display import display, Markdown

In [57]:
LOCATIONS = json.load(open("data/locations_keys.json", "r"))
HANGAR_0_DF = pandas.read_csv("data/HANGAR_0.csv", sep=";", index_col=0)
HANGAR_1_DF = pandas.read_csv("data/HANGAR_1.csv", sep=";", index_col=0)

In [58]:
HANGAR_0_DF_MODIFIED = HANGAR_0_DF.copy()
HANGAR_0_DF_MODIFIED.loc[:, "LOCATION"] = HANGAR_0_DF_MODIFIED.LOCATION.map(lambda x: LOCATIONS[x])

In [59]:
JOIN_DF = HANGAR_0_DF_MODIFIED.merge(
    HANGAR_1_DF, 
    left_on=['ID', "LOCATION"], 
    right_on=['ID', "LOCATION"],
    suffixes=["_0", "_1"])
                                     
JOIN_DF.loc[:, "DELTA"] = JOIN_DF.NUMBER_1 - JOIN_DF.NUMBER_0
DELTA_DF = JOIN_DF[JOIN_DF.DELTA != 0].loc[:, ["ID", "LOCATION", "DELTA"]]

In [79]:
from IPython.display import display, HTML

css = """
.output {
    flex-direction: column;
}
"""

HTML('<style>{}</style>'.format(css))

for location, group_df in DELTA_DF.groupby("LOCATION"):
    
    display(Markdown(f"## {location}"))
    display(group_df[["ID", "DELTA"]])

## 0IG3_CV_WF

              ID  DELTA
52    AHPJT5BJYL     55
992   PM3JZNLDAD    -79
1541  F9T7PZH7GQ     71
2423  JGV5W7WYNW     28
2816  ENCG1UZTA1    -40

## 5DH19E_EX_UU8

              ID  DELTA
2174  BSTTKKXFFG    -68

## 6U_RQP5V

              ID  DELTA
320   N3M63V0FBX     88
1563  RLSMDDG7NV    -43

## H2_WAD6J

              ID  DELTA
1145  8EKFHQGT44    -34
1180  DG5EW539SB    -11
1393  VMCEYRRFS6     26
2673  WG3N2Q5ZXH    -71

## H7G4ZA_H9O

              ID  DELTA
982   T4RDIOKOOF     13
2801  A8289HA5M0     73

## KE_C87OL2_NJ

              ID  DELTA
262   B4XRU53RBC    -96
639   WQ4LRE5ULC    -27
640   EEM8SMWZJF    -18
1083  KNXIRRIK4D    -20
1368  3SF107RK62     34
1758  R53A9E334S     99

## RK2AY_AORFQ

              ID  DELTA
1549  LETB5TALYJ     73
2991  7KB92971I3     26

## UDO_3HV

              ID  DELTA
228   2SW3JM0Y49     50
1595  BQV7VER2RD     41
2781  C75JWYW1AC     87
2799  DVRZLVL4CJ    -42

## VMUVP1_4251DD_FUKUXI

              ID  DELTA
1847  F7D7KPEC91     45
2563  0J0BPG42P3     19

## ZN1JB_R6VD8I

              ID  DELTA
166   EEE2HEX78E     15
2012  Z6HAT18084    -14